/* Set black background color, white text and some padding */
footer {
	margin-top: 100px;
	background-color: #555;
	color: white;
	padding: 15px;
}

.header{
	background-color: #a80063;
}

.main-logo{
	padding-bottom: 10px;
	padding-top: 10px;
	max-width: 600px;
	width: 100%;
}

a {
	color: #a80063;
}
